#OPP-poll-id-52c33f2ae4b01752c427ce65 {
    width:100% !important;
}
#OPP-div-around-poll {
    background: none !important;
}
#OPP-poll-question-text {
    color: #FFFFFF !important;
}
#OPP-powered-by { display: none !important; }
/*.scrollback-stream {
    position: relative !important;
    float: none !important;
    margin-bottom:24px !important;
}*/